# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/
vrpy-workspace.code-workspace
examples/OpenGLUtils.py
examples/singlelane.py
examples/benchmarks/run/run_old.py
.vscode/launch.json
.vscode/settings.json
examples/benchmarks/data/cvrp/A-n32-k5.sol
examples/benchmarks/data/cvrp/A-n33-k5.sol
examples/benchmarks/data/cvrp/A-n33-k5.vrp
examples/benchmarks/data/cvrp/A-n33-k6.sol
examples/benchmarks/data/cvrp/A-n33-k6.vrp
examples/benchmarks/data/cvrp/A-n34-k5.sol
examples/benchmarks/data/cvrp/A-n34-k5.vrp
examples/benchmarks/data/cvrp/A-n36-k5.sol
examples/benchmarks/data/cvrp/A-n36-k5.vrp
examples/benchmarks/data/cvrp/A-n37-k5.sol
examples/benchmarks/data/cvrp/A-n37-k5.vrp
examples/benchmarks/data/cvrp/A-n37-k6.sol
examples/benchmarks/data/cvrp/A-n37-k6.vrp
examples/benchmarks/data/cvrp/A-n38-k5.sol
examples/benchmarks/data/cvrp/A-n38-k5.vrp
examples/benchmarks/data/cvrp/A-n39-k5.sol
examples/benchmarks/data/cvrp/A-n39-k5.vrp
examples/benchmarks/data/cvrp/A-n39-k6.sol
examples/benchmarks/data/cvrp/A-n39-k6.vrp
examples/benchmarks/data/cvrp/A-n44-k6.sol
examples/benchmarks/data/cvrp/A-n44-k6.vrp
examples/benchmarks/data/cvrp/A-n45-k6.sol
examples/benchmarks/data/cvrp/A-n45-k6.vrp
examples/benchmarks/data/cvrp/A-n45-k7_2.sol
examples/benchmarks/data/cvrp/A-n45-k7.sol
examples/benchmarks/data/cvrp/A-n45-k7.vrp
examples/benchmarks/data/cvrp/A-n46-k7.sol

examples/benchmarks/data/cvrp/A-n32-k5.sol
examples/benchmarks/data/cvrp/A-n33-k5.sol
examples/benchmarks/data/cvrp/A-n33-k5.vrp
examples/benchmarks/data/cvrp/A-n33-k6.sol
examples/benchmarks/data/cvrp/A-n33-k6.vrp
examples/benchmarks/data/cvrp/A-n34-k5.sol
examples/benchmarks/data/cvrp/A-n34-k5.vrp
examples/benchmarks/data/cvrp/A-n36-k5.sol
examples/benchmarks/data/cvrp/A-n36-k5.vrp
examples/benchmarks/data/cvrp/A-n37-k5.sol
examples/benchmarks/data/cvrp/A-n37-k5.vrp
examples/benchmarks/data/cvrp/A-n37-k6.sol
examples/benchmarks/data/cvrp/A-n37-k6.vrp
examples/benchmarks/data/cvrp/A-n38-k5.sol
examples/benchmarks/data/cvrp/A-n38-k5.vrp
examples/benchmarks/data/cvrp/A-n39-k5.sol
examples/benchmarks/data/cvrp/A-n39-k5.vrp
examples/benchmarks/data/cvrp/A-n39-k6.sol
examples/benchmarks/data/cvrp/A-n39-k6.vrp
examples/benchmarks/data/cvrp/A-n44-k6.sol
examples/benchmarks/data/cvrp/A-n44-k6.vrp
examples/benchmarks/data/cvrp/A-n45-k6.sol
examples/benchmarks/data/cvrp/A-n45-k6.vrp
examples/benchmarks/data/cvrp/A-n45-k7_2.sol
examples/benchmarks/data/cvrp/A-n45-k7.sol
examples/benchmarks/data/cvrp/A-n45-k7.vrp
examples/benchmarks/data/cvrp/A-n46-k7.sol
benchmarks/results/instances/11_08_20/A-n32-k5.csv
benchmarks/results/instances/11_08_20/A-n33-k5.csv
benchmarks/results/instances/11_08_20/A-n33-k6.csv
benchmarks/results/instances/11_08_20/A-n34-k5.csv
benchmarks/results/instances/11_08_20/A-n36-k5.csv
benchmarks/results/instances/11_08_20/A-n37-k5.csv
benchmarks/results/instances/11_08_20/A-n37-k6.csv
benchmarks/results/instances/11_08_20/A-n38-k5.csv
benchmarks/results/instances/11_08_20/A-n39-k5.csv
benchmarks/results/instances/11_08_20/A-n39-k6.csv
benchmarks/results/instances/11_08_20/A-n44-k6.csv
benchmarks/results/instances/11_08_20/A-n45-k6.csv
benchmarks/results/instances/11_08_20/A-n45-k7.csv
benchmarks/results/instances/11_08_20/P-n16-k8.csv
benchmarks/data/A_set/A-n32-k5.vrp
benchmarks/data/A_set/A-n33-k5.vrp
benchmarks/data/A_set/A-n33-k6.vrp
benchmarks/data/A_set/A-n34-k5.vrp
benchmarks/data/A_set/A-n36-k5.vrp
benchmarks/data/A_set/A-n37-k5.vrp
benchmarks/data/A_set/A-n37-k6.vrp
benchmarks/data/A_set/A-n38-k5.vrp
benchmarks/data/A_set/A-n39-k5.vrp
benchmarks/data/A_set/A-n39-k6.vrp
benchmarks/data/A_set/A-n44-k6.vrp
benchmarks/data/A_set/A-n45-k6.vrp
benchmarks/data/A_set/A-n45-k7.vrp
benchmarks/data/A_set/A-n46-k7.vrp
benchmarks/data/A_set/A-n48-k7.vrp
benchmarks/data/A_set/A-n53-k7.vrp
benchmarks/data/A_set/A-n54-k7.vrp
benchmarks/data/A_set/A-n55-k9.vrp
benchmarks/data/A_set/A-n60-k9.vrp
benchmarks/data/A_set/A-n61-k9.vrp
benchmarks/data/A_set/A-n62-k8.vrp
benchmarks/data/A_set/A-n63-k9.vrp
benchmarks/data/A_set/A-n63-k10.vrp
benchmarks/data/A_set/A-n64-k9.vrp
benchmarks/data/A_set/A-n65-k9.vrp
benchmarks/data/A_set/A-n69-k9.vrp
benchmarks/data/A_set/A-n80-k10.vrp
benchmarks/data/B_set/B-n31-k5.vrp
benchmarks/data/B_set/B-n34-k5.vrp
benchmarks/data/B_set/B-n35-k5.vrp
benchmarks/data/B_set/B-n38-k6.vrp
benchmarks/data/B_set/B-n39-k5.vrp
benchmarks/data/B_set/B-n41-k6.vrp
benchmarks/data/B_set/B-n43-k6.vrp
benchmarks/data/B_set/B-n44-k7.vrp
benchmarks/data/B_set/B-n45-k5.vrp
benchmarks/data/B_set/B-n45-k6.vrp
benchmarks/data/B_set/B-n50-k7.vrp
benchmarks/data/B_set/B-n50-k8.vrp
benchmarks/data/B_set/B-n51-k7.vrp
benchmarks/data/B_set/B-n52-k7.vrp
benchmarks/data/B_set/B-n56-k7.vrp
benchmarks/data/B_set/B-n57-k7.vrp
benchmarks/data/B_set/B-n57-k9.vrp
benchmarks/data/B_set/B-n63-k10.vrp
benchmarks/data/B_set/B-n64-k9.vrp
benchmarks/data/B_set/B-n66-k9.vrp
benchmarks/data/B_set/B-n67-k10.vrp
benchmarks/data/B_set/B-n68-k9.vrp
benchmarks/data/B_set/B-n78-k10.vrp
benchmarks/data/cvrp/P-n16-k8.vrp
benchmarks/data/cvrp/P-n19-k2.vrp
benchmarks/data/cvrp/P-n20-k2.vrp
benchmarks/data/cvrp2/P-n16-k8.vrp
benchmarks/data/cvrp2/P-n21-k2.vrp
benchmarks/data/P/P-n16-k8.vrp
benchmarks/data/P/P-n19-k2.vrp
benchmarks/data/P/P-n21-k2.vrp
benchmarks/data/P/P-n22-k2.vrp
benchmarks/data/P/P-n22-k8.vrp
benchmarks/data/P/P-n23-k8.vrp
benchmarks/data/P/P-n40-k5.vrp
benchmarks/data/P/P-n45-k5.vrp
benchmarks/data/P/P-n50-k7.vrp
benchmarks/data/P/P-n50-k8.vrp
benchmarks/data/P/P-n50-k10.vrp
benchmarks/data/P/P-n51-k10.vrp
benchmarks/data/P/P-n55-k7.vrp
benchmarks/data/P/P-n55-k8.vrp
benchmarks/data/P/P-n55-k10.vrp
benchmarks/data/P/P-n55-k15.vrp
benchmarks/data/P/P-n60-k10.vrp
benchmarks/data/P/P-n60-k15.vrp
benchmarks/data/P/P-n65-k10.vrp
benchmarks/data/P/P-n70-k10.vrp
benchmarks/data/P/P-n76-k4.vrp
benchmarks/data/P/P-n76-k5.vrp
benchmarks/data/P/P-n101-k4.vrp
benchmarks/results/instances/P-n22-k2_info_run.csv
benchmarks/results/instances/P-n22-k2_test1.csv
benchmarks/results/instances/P-n22-k2.csv
benchmarks/tests/test_cvrp_augerat copy.py
benchmarks/epost.py
